<section class="colaboration">
    <div class="container colaboration-container">
        <div class="colaboration-wrap">
            <p class="colaboration-text">Optimisation for</p>
            <h2 class="colaboration-title">Collaborative</h2>
            <p class="colaboration-txt">Few would argue that, despite the advancements of feminism over
                the past three decades, women still face a double standard when
                it comes to their behavior.
            </p>
            <ul class="colaboration-list">
                <li class="colaboration-item first-item">
                    <h3 class="colaboration-subtitle">Accessory makers</h3>
                    <p class="colaboration-txt">While most people enjoy casino gambling, sports betting,
                        lottery and bingo playing for the fun
                    </p>
                </li>
                <li class="colaboration-item">
                    <h3 class="colaboration-subtitle">Alterationists</h3>
                    <p class="colaboration-txt">If you are looking for a new way to promote your business
                        that won't cost you more money,
                    </p>
                </li>
            </ul>
        </div>
        <img class="colaboration-img" src="./images/collaboration-img.svg" alt="files" width="540" height="500">
    </div>
</section>