<section class="feedback">
    <div class="container">
        <h2 class="feedback-title">What Clients Say</h2>
        <p class="feedback-text">Problems trying to resolve the conflict between
            the two major realms of Classical physics: Newtonian mechanics</p>
        <ul class="feedback-list">
            <li class="feedback-item">
                <img class="feedback-img" src="./images/Group204.png" width="106" height="18" alt="four-stars">
                <p class="feedback-txt">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="feedback-item-box">
                    <img class="feedback-avatar" src="./images/Ellipse2.png" width="50" height="50" alt="avatar">
                    <div class="feedback-item-wrap">
                        <p class="feedback-autor">Wahid Ari</p>
                        <p class="feedback-designer">Designer</p>
                    </div>
                </div>
            </li>
            <li class="feedback-item">
                <img class="feedback-img" src="./images/Group204.png" width="106" height="18" alt="four-stars">
                <p class="feedback-txt">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="feedback-item-box">
                    <img class="feedback-avatar" src="./images/Ellipse2-1.png" width="50" height="50" alt="avatar">
                    <div class="feedback-item-wrap">
                        <p class="feedback-autor">Wahid Ari</p>
                        <p class="feedback-designer">Designer</p>
                    </div>
                </div>
            </li>
            <li class="feedback-item">
                <img class="feedback-img" src="./images/Group204.png" width="106" height="18" alt="four-stars">
                <p class="feedback-txt">Product helps you see how many
                    more days you need to work to
                    reach your financial goal.</p>
                <div class="feedback-item-box">
                    <img class="feedback-avatar" src="./images/Ellipse2-2.png" width="50" height="50" alt="avatar">
                    <div class="feedback-item-wrap">
                        <p class="feedback-autor">Wahid Ari</p>
                        <p class="feedback-designer">Designer</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>