<footer class="footer">
  <div class="container footer-box">
    <div class="footer-social">
      <a class="logo" href="./index.html"><img src="./images/logo.svg" alt="logo" width="40" height="36" />Product</a>
      <div class="social-list">
        <a class="social-item" href="#"><svg class="social-img" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg></a>
        <a class="social-item" href="#"><svg class="social-img" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg></a>
        <a class="social-item" href="#"><svg class="social-img" width="24" height="24">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="resource-box">
      <p class="footer-subtitle resource-title">Resource</p>
      <ul class="resource-list">
        <li class="resource-item">
          <a class="resource-link" href="">About Us</a>
        </li>
        <li class="resource-item">
          <a class="resource-link" href="">Blog</a>
        </li>
        <li class="resource-item">
          <a class="resource-link" href="">Contact</a>
        </li>
        <li class="resource-item">
          <a class="resource-link" href="">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="stuff-box">
      <p class="footer-subtitle stuff-title">Legal Stuff</p>
      <ul class="stuff-list">
        <li class="stuff-item">
          <a class="stuff-link" href="">Disclaimer</a>
        </li>
        <li class="stuff-item">
          <a class="stuff-link" href="">Financing</a>
        </li>
        <li class="stuff-item">
          <a class="stuff-link" href="">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="subscribe">
      <h3 class="footer-subtitle subscribe-title">knowing you're always on the best energy deal. </h3>

      <label class="input-box" for="user-tel"><input type="tel" class="phone" placeholder="Enter your phonenumber"
          id="user-tel" /><svg class="phone-icon" width="16" height="24">
          <use href="./images/icons.svg#icon-mobile-screen"></use>
        </svg>
      </label>

      <button type="button" class="subscribe-btn">Sign up Now</button>
    </div>
  </div>
  <p class="footer-undertext">Made With Love By Figmaland All Right Reserved</p>
</footer>