<section class="joining">
    <div class="container joining-container">
        <h3 class="joining-title">Join thousand of other who have already received offers</h3>
        <ul class="joining-list">
            <li class="joining-item">
                <img class="joining-item-img" src="./images/busines.png" alt="red-icon-busines">
                <h3 class="joining-subtitle">Business</h3>
                <ul class="joining-sublist">
                    <li class="joining-text">Cash Flow</li>
                    <li class="joining-text">Asset Backed</li>
                    <li class="joining-text">Receivables Finance</li>
                </ul>
                <p class="joining-txt">Find the best business product</p>
            </li>
            <li class="joining-item">
                <img class="joining-item-img" src="./images/enterprise.png" alt="blue-icon">
                <h3 class="joining-subtitle">Enterprise</h3>
                <ul class="joining-sublist">
                    <li class="joining-text">Site Acquisition</li>
                    <li class="joining-text">Bridge</li>
                    <li class="joining-text">Development Financing</li>
                </ul>
                <p class="joining-txt">Find the best business product</p>
            </li>
        </ul>
    </div>
</section>