<section class="managment">
    <div class="container managment-container">
        <div class="managment-wrap">
            <p class="managment-txt">Effortless Validation for</p>
            <h2 class="managment-title">Management</h2>
            <p class="managment-text">
                The Myspace page defines the individual, his or her
                characteristics, traits, personal choices and the overall
                personality of the person.
            </p>
            <ul class="managment-list">
                <li class="managment-item first-item">
                    <h3 class="managment-subtitle">Accessory makers</h3>
                    <p class="managment-item-text">
                        While most people enjoy casino gambling, sports betting, lottery
                        and <span class="managment-text-span">bingo playing for the fun</span>
                    </p>
                </li>
                <li class="managment-item">
                    <h3 class="managment-subtitle">Alterationists</h3>
                    <p class="managment-item-text">
                        If you are looking for a new way to promote your business that
                        won't cost<span class="managment-text-span"> you more money,</span>
                    </p>
                </li>
            </ul>
        </div>
        <img class="managment-img" src="./images/management-img.svg" alt="letters" width="540" height="500" />
    </div>
</section>