<section class="news-feed">
    <div class="container news-feed-container">
        <h2 class="news-feed-title">Contents Strategies</h2>
        <p class="news-feed-text">We focus on ergonomics and meeting you where you work. It's only a keystroke
            away.
        </p>
        <ul class="news-feed-list">
            <li class="news-feed-item">
                <img class="news-feed-img" src="./images/Bitmap.png" alt="picture" width="350" height="185">
                <div class="news-feed-list-wrap">
                    <p class="news-feed-txt">By <span>Wahid Ari</span> | 03 March 2019</p>
                    <h3 class="news-feed-subtitle">Increasing Prosperity With Positive Thinking</h3>
                </div>
            </li>
            <li class="news-feed-item">
                <img class="news-feed-img" src="./images/Bitmap-1.png" alt="picture" width="350" height="185">
                <div class="news-feed-list-wrap">
                    <p class="news-feed-txt">By <span>Wahid Ari</span> | 03 March 2019</p>
                    <h3 class="news-feed-subtitle motivation">Motivation Is The First Step To Success</h3>
                </div>
            </li>
            <li class="news-feed-item">
                <img class="news-feed-img" src="./images/Bitmap-2.png" alt="picture" width="350" height="185">
                <div class="news-feed-list-wrap">
                    <p class="news-feed-txt">By <span>Wahid Ari</span> | 03 March 2019</p>
                    <h3 class="news-feed-subtitle">Success Steps For Your Personal Or Business</h3>
                </div>
            </li>
        </ul>
    </div>
</section>