<section class="our-clients">
    <div class="container our-clients-container">
        <h1 class="our-clients-title">Our Clients</h1>
        <ul class="our-clients-list">
            <li class="our-clients-item"><a href="" target="_blank"><svg class="" width="159" height="50">
                        <use href="./images/symbol-defs.svg#icon-Airbnb-Logo"></use>
                    </svg></a></li>
            <li class="our-clients-item"><a href="" target="_blank"><svg class="" width="146" height="50">
                        <use href="./images/symbol-defs.svg#icon-Google-Logo"></use>
                    </svg></a></li>
            <li class="our-clients-item"><a href="" target="_blank"><svg class="microsoft-icon" width="213" height="44">
                        <use href="./images/symbol-defs.svg#icon-Microsoft-Logo"></use>
                    </svg></a></li>
            <li class="our-clients-item"><a href="" target="_blank"><svg class="" width="140" height="42">
                        <use href="./images/symbol-defs.svg#icon-FedEx-Logo"></use>
                    </svg></a></li>
        </ul>
    </div>
</section>