<section class="price-box">
    <div class="container price-container">
        <p class="price-subtitle">PRICING</p>
        <h2 class="price-title">Let's get some real work done here.</h2>
        <p class="price-text">Prodict is your perfect solution for working. Get started now for free</p>
        <ul class="pricing-list">
            <li class="pricing-item">
                <h3 class="pricing-subtitle">Free</h3>
                <p class="pricing-txt">Brief price description</p>
                <div class="pricing-box">
                    <h4 class="price">0</h4>
                    <div class="pricing-wrap">
                        <p class="dollar">$</p>
                        <p class="pricing-item-txt">Per / month</p>
                    </div>
                </div>
                <ul class="pricing-item-list">
                    <li class="pricing-item-list-item">
                        <p class="pricing-item-list-txt">Only 2 Operators</p>
                    </li>
                    <li class="pricing-item-list-item">
                        <p class="pricing-item-list-txt">Notifications</p>
                    </li>
                    <li class="pricing-item-list-item">
                        <p class="pricing-item-list-txt">Landing Pages</p>
                    </li>
                </ul>
                <button class="pricing-button" type="button">Order Now</button>
            </li>
            <li class="pricing-item active-item">
                <h3 class="pricing-subtitle">Standard</h3>
                <p class="pricing-txt">Brief price description</p>
                <div class="pricing-box">
                    <h4 class="price price-active">5</h4>
                    <div class="pricing-wrap">
                        <p class="dollar dollar-active">$</p>
                        <p class="pricing-item-txt">Per / month</p>
                    </div>
                </div>
                <ul class="pricing-item-list">
                    <li class="pricing-item-list-item">
                        <p class="pricing-item-list-txt pricing-item-list-txt-active">5+ Operators</p>
                    </li>
                    <li class="pricing-item-list-item">
                        <p class="pricing-item-list-txt pricing-item-list-txt-active">Notifications</p>
                    </li>
                    <li class="pricing-item-list-item">
                        <p class="pricing-item-list-txt pricing-item-list-txt-active">Landing Pages</p>
                    </li>
                </ul>
                <button class="pricing-button pricing-btn" type="button">Order Now</button>
            </li>
            <li class="pricing-item">
                <h3 class="pricing-subtitle">Premium</h3>
                <p class="pricing-txt">Brief price description</p>
                <div class="pricing-box">
                    <h4 class="price">10</h4>
                    <div class="pricing-wrap">
                        <p class="dollar">$</p>
                        <p class="pricing-item-txt">Per / month</p>
                    </div>
                </div>
                <ul class="pricing-item-list">
                    <li class="pricing-item-list-item">
                        <p class="pricing-item-list-txt">Only 3 Operators</p>
                    </li>
                    <li class="pricing-item-list-item">
                        <p class="pricing-item-list-txt">Notifications</p>
                    </li>
                    <li class="pricing-item-list-txt">
                        <p class="pricing-item-list-txt">Landing Pages</p>
                    </li>
                </ul>
                <button class="pricing-button" type="button">Order Now</button>
            </li>
        </ul>
    </div>
</section>