<section class="promo promo-customers">
    <div class="container promo-container">
        <div class="promo-wrap">
            <div class="promo-box">
                <h2 class="promo-title">Join 100 Compannies who boost their business with Product</h2>
                <button class="promo-btn promo-btn-customers" type="button">Get This</button>
            </div>
            <img class="promo-img" src="./images/graphics.png" width="351" height="331" alt="some_grafics">
        </div>
    </div>
</section>