<section class="question">

    <div class="container question-container">
        <h2 class="question-title">Frequently asked question</h2>
        <p class="question-paragraph">Something is not clear? You need help? Check our FAQ section</p>
        <ul class="question-list">
            <li class="question-item"><svg class="question-icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-plus"></use>
                </svg>
                <p class="question-text">What are my payment option?</p>
            </li>
            <li class="question-item question-item-answer">
                <div class="question-item-box">
                    <svg class="question-icon" width="24" height="24">
                        <use href="./images/symbol-defs.svg#icon-minus"></use>
                    </svg>
                    <p class="question-text">How can I invite collaborator to platform?</p>
                </div>
                <p class="question-txt">After creating your account you will have an oppurtunity to create your
                    first project that will be associated withthe
                    collaborators e-mail. An invitation will be sent automatically. Then, invited user will have
                    to confirm his account by
                    e-mail and finish userd onboarding.</p>
            </li>
            <li class="question-item"><svg class="question-icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-plus"></use>
                </svg>
                <p class="question-text">Can I upgrade my plan?</p>
            </li>
            <li class="question-item"><svg class="question-icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-minus"></use>
                </svg>
                <p class="question-text">Can I cancel my plan at anytime?</p>
            </li>
        </ul>
    </div>

</section>