<section class="resource-hero">
    <div class="container resource-hero-container">
        <div class="resource-hero-box">
            <h1 class="resource-hero-title">Great Business made with Product.</h1>
            <p class="resourse-hero-txt">Build better customer relationships easily messaging that provides a more
                personal experience for you and your
                customers.</p>
            <label class="resource-label" for="mail">
                <input type="email" id="mail" class="resource-input" placeholder="Enter your email adress">
                <button class="resource-btn" type="button">Join Now</button>
            </label>
            <div class="clients">
                <div class="photos">
                    <img class="photo-1" src="../images/resorce-img/Oval (1).png" alt="clients photos">
                    <img class="photo-2" src="../images/resorce-img/Oval.png" alt="clients photos">
                    <img class="photo-3" src="../images/resorce-img/Oval (2).png" alt="clients photos">
                </div>
                <p class="resource-hero-subtext">Join over <span>4,000+</span> other</p>
            </div>
        </div>

        <img class="chat" src="../images/resorce-img/Chat Bot.png" alt="chat">
        <img class="cmall-chat" src="../images/resorce-img/Group 1422.png" alt="chat">

    </div>
</section>