<section class="stories">
    <div class="container stories-container">
        <h2 class="stories-title">Latest Stories</h2>
        <p class="stories-text">
            We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
        <ul class="stories-list">
            <li class="stories-item"><img class="stories-picture" src="/images/Image Placeholder.jpg"
                    alt="man in smoking">
                <div class="stories-item-box">
                    <p class="stories-item-txt">By <span class="stories-item-txt-spam">Wahid Ari</span> | 03 March 2019
                    </p>
                    <h3 class="stories-item-title">Increasing Prosperity With Positive Thinking</h3>
                </div>
            </li>
            <li class="stories-item"><img class="stories-picture" src="/images/Image Placeholder-1.jpg"
                    alt="lap-top on knees">
                <div class="stories-item-box">
                    <p class="stories-item-txt">By <span class="stories-item-txt-spam">Wahid Ari</span> | 03 March 2019
                    </p>
                    <h3 class="stories-item-title">Motivation Is The First Step To Success</h3>
                </div>
            </li>
            <li class="stories-item"><img class="stories-picture" src="/images/Image Placeholder-2.jpg"
                    alt="speaker before the desk">
                <div class="stories-item-box">
                    <p class="stories-item-txt">By <span class="stories-item-txt-spam">Wahid Ari</span> | 03 March 2019
                    </p>
                    <h3 class="stories-item-title">Success Steps For Your Personal Or Business</h3>
                </div>
            </li>
            <li class="stories-item"><img class="stories-picture" src="/images/Image Placeholder-3.jpg"
                    alt="working on lap-top">
                <div class="stories-item-box">
                    <p class="stories-item-txt">By <span class="stories-item-txt-spam">Wahid Ari</span> | 03 March 2019
                    </p>
                    <h3 class="stories-item-title">Increasing Prosperity With Positive Thinking</h3>
                </div>
            </li>
            <li class="stories-item"><img class="stories-picture" src="/images/Image Placeholder-4.jpg"
                    alt="few lap-tops in the office">
                <div class="stories-item-box">
                    <p class="stories-item-txt">By <span class="stories-item-txt-spam">Wahid Ari</span> | 03 March 2019
                    </p>
                    <h3 class="stories-item-title">Motivation Is The First Step To Success</h3>
                </div>
            </li>
            <li class="stories-item"><img class="stories-picture" src="/images/Image Placeholder-5.jpg"
                    alt="lap-top on the table">
                <div class="stories-item-box">
                    <p class="stories-item-txt">By <span class="stories-item-txt-spam">Wahid Ari</span> | 03 March 2019
                    </p>
                    <h3 class="stories-item-title">Success Steps For Your Personal Or Business</h3>
                </div>
            </li>
        </ul>
        <div class="stories-box">
            <p class="stories-box-txt">More Stories</p>
            <a class="stories-box-link" href="#">
                <svg class="stories-box-icon" width="20" height="20">
                    <use href="../images/icons.svg#circle_right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>