<section class="support">
    <div class="support-container container">
        <img class="support-img" src="./images/support-img.svg" alt="lap-top" width="540" height="500">
        <div class="support-wrap">
            <p class="support-text">Easier decision making for</p>
            <h2 class="support-title">Customer Support</h2>
            <p class="support-txts ">The Myspace page defines the individual, his or her characteristics,
                traits, personal choices and the overall personality of the person.
            </p>
            <ul class="support-list">
                <li class="support-item">
                    <p class="support-txt">Never worry about overpaying for your energy again. </p>
                </li>
                <li class="support-item">
                    <p class="support-txt">We will only switch you to energy companies that we trust
                        and will treat you right</p>
                </li>
                <li class="support-item">
                    <p class="support-txt">We track the markets daily and know where the savings are.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>