<section class="thing">

    <div class="container thing-container">
        <h3 class="thing-title">Product is being used with great effects alongside:</h3>
        <div class="thing-box">
            <img src="./images/devices.png" alt="devices-icons" class="thing-img" width="528" height="392">
            <ul class="thing-list">
                <li class="thing-item">
                    <div class="thing-item-box">
                        <div class="icon-wrap">
                            <svg class="thing-item-icon" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-01">
                                </use>
                            </svg>
                        </div>
                        <p class="thing-item-text">Enterpreneur</p>
                    </div>
                    <p class="thing-item-txt">Product is a great way to help medium and samall enterprise owners
                        achieve their goals
                    </p>
                </li>
                <li class="thing-item">
                    <div class="thing-item-box">
                        <div class="icon-wrap">
                            <svg class="thing-item-icon" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-02">
                                </use>
                            </svg>
                        </div>
                        <p class="thing-item-text">Accountants</p>
                    </div>
                    <p class="thing-item-txt">Whether you are working on contract with clients, or on other key
                        accounting documents,
                        Product is for you</p>
                </li>
                <li class="thing-item">
                    <div class="thing-item-box">
                        <div class="icon-wrap">
                            <svg class="thing-item-icon" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-03">
                                </use>
                            </svg>
                        </div>
                        <p class="thing-item-text">Universities</p>
                    </div>
                    <p class="thing-item-txt">Organize university projects and have documents easily graded
                        online with Product</p>
                </li>
            </ul>
        </div>
    </div>

</section>