.feedback {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.78;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 8px;
}

.feedback-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
}

.feedback-list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;
}

.feedback-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px 24px;
}

.feedback-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #32454f;
    margin: 16px 0;
    width: 275px;
}

.feedback-item-box {
    display: flex;
    align-items: center;
    gap: 14px;
}

.feedback-autor {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.feedback-designer {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #252b42;
}

@media screen and (min-width:1400px) {

    .feedback-title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .feedback-text {
        max-width: 537px;
    }

    .feedback-list {
        flex-direction: row;
        margin-top: 40px;
        gap: 64px;
    }

    .feedback-item {
        padding: 30px 35px;
        width: 327px;
        height: 240px;
        transition: all 1s ease-out;
    }

    .feedback-item:hover {
        transform: scale(1.4);
    }

    .feedback-txt {
        color: #737373;
        width: 275px;
    }

    .feedback-autor {
        font-weight: 400;
        line-height: 1.75;
    }

}