.header-container {
  max-width: 411px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 17px 27px 32px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-nav-list {
  display: none;
}


.header-btn-list {
  display: none;
}

.mobile-menu-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.mobile-menu-open-btn {
  fill: transparent;
  stroke: #173a56;
}

@media screen and (min-width:1150px) {

  .mobile-menu-open-btn {
    display: none;
  }

  .header-container {
    min-width: 1150px;
    border: none;
  }

  .logo {
    margin-right: 237px;
  }

  .logo:hover {
    transform: rotatey(360deg);
  }

  .header-nav {
    margin-right: auto;
  }

  .header-nav-list {
    display: flex;
    gap: 30px;
  }

  .header-nav-link {
    display: block;
    padding: 26px 0;
    line-height: 1.75;
    color: #22343d;
    position: relative;
  }

  .header-nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 20px;
    background-color: #02897a;
    transform: scale(0);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .header-nav-link:hover::after,
  .header-nav-link:focus::after {
    transform: scale(100%);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    font-weight: 600;
    color: #02897a;
  }


  .header-btn-list {
    display: flex;
    gap: 21px;
  }

  .header-btn {
    display: block;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
    color: #173a56;
    background-color: transparent;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }


  .header-btn:hover,
  .header-btn:focus {
    background-color: #02897a;
    color: #fff;
    border: transparent;
    transform: scale(1.2);
  }
}