.news-feed {
    padding-top: 50px;
    padding-bottom: 61px;
}

.news-feed-title {
    font-size: 34px;
    margin-bottom: 8px;
}

.news-feed-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 40px;
}

.news-feed-img {
    border-radius: 8px 8px 0 0;
}

.news-feed-list-wrap {
    padding: 24px 0 40px;
}

.news-feed-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 12px;
}

.news-feed-txt span {
    font-weight: 700;
}

.news-feed-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    max-width: 295px;
}

@media screen and (min-width:1400px) {

    .news-feed {
        padding-bottom: 100px;
    }

    .news-feed-container {
        width: 1110px;
    }

    .news-feed-text {
        width: 465px;
    }

    .news-feed-list {
        display: flex;
        gap: 30px;
    }

    .news-feed-item {
        border-radius: 8px;
        border: 1px solid #dedede;
        width: calc((100% - 60px) / 3);

        background: #fff;
    }


    .news-feed-list-wrap {
        padding-left: 27px;
    }

    .news-feed-subtitle {
        transition: color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .news-feed-item:hover .news-feed-subtitle {
        color: #02897a;
    }

}