.support {
    padding-top: 50px;
    padding-bottom: 50px;
}

.support-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

.support-wrap {
    margin-top: 50px;
}

.support-text {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.support-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
}

.support-txts {
    max-width: 300px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
}

.support-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.support-txt {
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    max-width: 320px;
}

.support-txt::before {
    content: "";
    display: block;
    border: 3px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-image: url(../images/Path.svg);
    background-position: center;
    flex-shrink: 0;
}

.support-item:nth-child(1) .support-txt::before {
    background-color: #f90;
}

.support-item:nth-child(2) .support-txt::before {
    background-color: #f03e3d;
}

.support-item:nth-child(3) .support-txt::before {
    background-color: #4d8dff;
}

@media screen and (min-width:1400px) {

    .support-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .support-wrap {
        width: 450px;
        margin-top: 0;
    }

    .support-title {
        margin-bottom: 25px;
    }

    .support-txts {
        max-width: 380px;
    }

    .support-list {
        margin-top: 30px;
        gap: 25px;
    }

    .support-item {
        width: 450px;
        height: 52px;
    }


    .support-txt {
        max-width: 386px;
    }

}